body{
    background-image: url(https://dhb3yazwboecu.cloudfront.net/270/vallejo/premium/colores/015_l.jpg);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1{
    color: black:
    text-alingn: center:
}
.caja1{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.caja2{
    width: 50%;
    height: 100%;
    margin: auto;

}

.caja3{
    width: 50%;
    margin: auto;
    display: flex;
    bottom: 100px;
}

ul{
    list-style-image: url(star.svg);
}

li{
    list-style: none;
    width: 2.5em;
    height: 2.5em;
    border: 2px solid white;
    border-radius: 50%;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

button{
    position: absolute;
    bottom: 45%;
    left: 20%;
    background-color: teal;
    border:3px solid black;
    color:white;
}

.rosco{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0%;
    display: flex;
    justify-content: center;
}

.rosco>* {
    position: absolute;
    top: 50%;
  }
  
  .rosco>*:nth-of-type(1) {
    transform: rotate(270deg) translate(13rem) rotate(-270deg);
  }
  
  .rosco>*:nth-of-type(2) {
     transform: rotate(284.4deg) translate(13rem) rotate(-284.4deg);
  }
  
  .rosco>*:nth-of-type(3) {
    transform: rotate(298.8deg) translate(13rem) rotate(-298.8deg);
  }
  
  .rosco>*:nth-of-type(4) {
    transform: rotate(313.2deg) translate(13rem) rotate(-313.2deg);
  }
  
  .rosco>*:nth-of-type(5) {
    transform: rotate(327.6deg) translate(13rem) rotate(-327.6deg);
  }
  
  .rosco>*:nth-of-type(6) {
    transform: rotate(342deg) translate(13rem) rotate(-342deg);
  }
  
  .rosco>*:nth-of-type(7) {
    transform: rotate(356.4deg) translate(13rem) rotate(-356.4deg);
  }
  
  .rosco>*:nth-of-type(8) {
    transform: rotate(370.8deg) translate(13rem) rotate(-370.8deg);
  }
  
  .rosco>*:nth-of-type(9) {
    transform: rotate(385.2deg) translate(13rem) rotate(-385.2deg);
  }
  
  .rosco>*:nth-of-type(10) {
    transform: rotate(399.6deg) translate(13rem) rotate(-399.6deg);
  }
  
  .rosco>*:nth-of-type(11) {
    transform: rotate(414deg) translate(13rem) rotate(-414deg);
  }
  
  .rosco>*:nth-of-type(12) {
    transform: rotate(428.4deg) translate(13rem) rotate(-428.4deg);
  }
  
  .rosco>*:nth-of-type(13) {
    transform: rotate(442.8deg) translate(13rem) rotate(-442.8deg);
  }
  
  .rosco>*:nth-of-type(14) {
    transform: rotate(457.2deg) translate(13rem) rotate(-457.2deg);
  }
  
  .rosco>*:nth-of-type(15) {
    transform: rotate(471.6deg) translate(13rem) rotate(-471.6deg);
  }
  
  .rosco>*:nth-of-type(16) {
    transform: rotate(486deg) translate(13rem) rotate(-486deg);
  }
  
  .rosco>*:nth-of-type(17) {
    transform: rotate(500.4deg) translate(13rem) rotate(-500.4deg);
  }
  
  .rosco>*:nth-of-type(18) {
    transform: rotate(514.8deg) translate(13rem) rotate(-514.8deg);
  }
  
  .rosco>*:nth-of-type(19) {
    transform: rotate(529.2deg) translate(13rem) rotate(-529.2deg);
  }
  
  .rosco>*:nth-of-type(20) {
    transform: rotate(543.6deg) translate(13rem) rotate(-543.6deg);
  }
  
  .rosco>*:nth-of-type(21) {
    transform: rotate(558deg) translate(13rem) rotate(-558deg);
  }
  
  .rosco>*:nth-of-type(22) {
    transform: rotate(572.4deg) translate(13rem) rotate(-572.4deg);
  }
  
  .rosco>*:nth-of-type(23) {
    transform: rotate(586.8deg) translate(13rem) rotate(-586.8deg);
  }
  
  .rosco>*:nth-of-type(24) {
    transform: rotate(601.2deg) translate(13rem) rotate(-601.2deg);
  }
  
  .rosco>*:nth-of-type(25) {
    transform: rotate(615.6deg) translate(13rem) rotate(-615.6deg);
  }
js/
const palabras = [
    {
        letra: "A",
        descr: "La necesitamos cuando tenemos que esperar un determinado suceso que demora en ejecutarse, y se necesita para acceder a una api.",
        palabra: "Asincronía",
        contiene: false,
        empieza: true
    },
    {
        letra: "B",
        descr: "Se encarga de que toda la lógica de una página web funcione, es el desarrollo del elemento web que no vemos.",
        palabra: "Backend",
        contiene: false,
        empieza: true

    },
    {
        letra: "C",
        descr: "Indica elementos de una entidad, pueden asociarse a elementos de la otra entidad relacionada.",
        palabra: "Cardinalidad",
        contiene: false,
        empieza: true

    },
    {
        letra: "D",
        descr: "Contiene todas o una parte de las tablas presentes en la base de datos.",
        palabra: "Diagrama",
        contiene: false,
        empieza: true

    },
    {
        letra: "E",
        descr: "Tiene atributos y relaciones, corresponde a una o varias tablas relacionadas en la base de datos.",
        palabra: "Entidad",
        contiene: false,
        empieza: true
    },
    {
        letra: "F",
        descr: "Identifica una columna o un grupo de columnas en una tabla que se refiere a las columnas en otra tabla.",
        palabra: "Foreign Key",
        contiene: false,
        empieza: true
    },
    {
        letra: "G",
        descr: "Página para alojar proyectos, se utiliza principalmente para la creación de código fuente de programas de ordenador.",
        palabra: "Github",
        contiene: false,
        empieza: true
    },
    {
        letra: "H",
        descr: "Cuando las entidades hijos, se les transmite los atributos de la entidad padre.",
        palabra: "Herencia",
        contiene: false,
        empieza: true
    },
    {
        letra: "I",
        descr: "Es  generalmente un directorio en un orden específico que se utiliza con fines de orientación. Es el listado de páginas web que es emitido por el motor de búsqueda en respuesta a una solicitud de búsqueda del usuario.",
        palabra: "Index",
        contiene: false,
        comienza: true
    },
    {
        letra: "J",
        descr: "Lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, ​ basado en prototipos, imperativo, débilmente tipado y dinámico.",
        palabra: "JavaScript",
        contiene: false,
        comienza: true
    },
    {
        letra: "L",
        descr: "Pensamiento que va hacer el programa (falta completar)",
        palabra: "Logica",
        contiene: false,
        comienza: true
    },
    {
        letra: "M",
        descr: "Se encarga de arreglar el tipo de datos de columna y arreglar  restricciones de columna",
        palabra: "Modify",
        contiene: false,
        comienza: true
    },
    {
        letra: "N",
        descr: "Es el proceso de elaborar, aplicar y mejorar las normas que se emplean en distintas actividades, con el fin de ordenarlas y mejorarlas.",
        palabra: "Normalizacion",
        contiene: false,
        comienza: true
    },
    {
        letra: "Ñ",
        descr:"Área enfocada en el desarrollo de interfaces digitales, como el boceto  de sitios y aplicaciones para web",
        palabra:"Diseño Web",
        contiene: true,
        comienza: false
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "P",
        descr:"Es el proceso utilizado para idear y ordenar las acciones necesarias para realizar un proyecto, en la actualidad, la noción de esta se encuentra muy asociada a la creación de aplicaciones de informática y videojuegos.",
        palabra:"Programación",
        contiene:false,
        comienza:true
    },
    {
        letra: "Q",
        descr:"Término que el usuario escribe en un buscador, como por ejemplo Google, cuando desea realizar una búsqueda utilizando Keywords o palabras clave.",
        palabra:"Query",
        contiene:false,
        comienza:true
    },
    {
        letra: "R",
        descr:"Biblioteca Javascript de código abierto diseñada para crear interfaces de usuario con el objetivo de facilitar el desarrollo de aplicaciones en una sola página.",
        palabra:"React",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    },
    {
        letra: "O",
        descr:"Es un número en base 8 que especifique el permiso. Los números en este modo se especifican empezando el número por un 0.",
        palabra:"Octal",
        contiene:false,
        comienza:true
    }
];
